<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css"
    />

    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script></script>
    <title>Clayton</title>
  </head>
  <body>
    <header id="head">
      <a href="#" class="logo">
        <img src="/assets/img/mexicangeek2.png" alt="" />
      </a>
      <input type="search" class="busqueda" />
      <div class="login">
        <a href="/carrito" class="color-second">
          <i class="fas fa-shopping-cart"></i>
        </a>
        <a href="/login" class="color-second">
          <i class="fas fa-sign-in-alt"></i>
        </a>
      </div>
      <img src="/assets/img/quetzi2.png" class="sans-face" alt="" />
    </header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item"> Inicio </a>

          <a class="navbar-item"> DC Comics </a>
          <a class="navbar-item"> Marvel Comics </a>
          <a class="navbar-item"> Image Comics </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> Más </a>

            <div class="navbar-dropdown">
              <a class="navbar-item"> Blog </a>
              <a class="navbar-item"> Funkos </a>
              <a class="navbar-item"> Coleccionables </a>
              <hr class="navbar-divider" />
              <a class="navbar-item"> Reportar un problema </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="/carrito" class="button is-primary">
                <strong>Carrito</strong>
              </a>
              <a href="/register" class="button is-light"> Log in </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main>
      <div id="single__product">
        <section class="product__image">
          <figure>
            <img
              src="../assets/img/comic-issues/invincible_1.jpg"
              alt="product"
            />
          </figure>
        </section>
        <section class="product__info">
          <div class="info">
            <h3 class="info__title">Invincible #60</h3>
            <div class="info__specs">
              <p>Editorial Image</p>
              <p>Escrito por by Robert Kirkman</p>
              <p>Publicado en 12/06/2010</p>
            </div>
            <div class="info__precios">
              <p>$ 3.99</p>
              <p>$ 2.99</p>
              <p class="disscount">25% off</p>
            </div>
            <form id="addcart-product" action="">
              <p class="available">disponible</p>
              <button class="btn-addcart">Añadir al carrito</button>
            </form>
          </div>
        </section>
        <div class="product__description">
          <h3 class="">Descripción</h3>
          <hr />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repellendus, facere sapiente! Totam officiis id velit, eaque unde
            rem impedit assumenda dolor, ipsa illo pariatur, nam dignissimos ab?
            Similique, esse repellendus.
          </p>
        </div>
      </div>
    </main>
    <footer id="pieDePagina">
      <section class="enlaces">
        <ul type="none">
          <li><a href="#">Términos y Condiciones</a></li>
          <li><a href="#">Políticas de Envio</a></li>
          <li><a href="#">Preguntas Frecuentes</a></li>
          <li><a href="#">Sobre Nosotros</a></li>
        </ul>
      </section>
      <section class="metodosDePago">
        <br />
        <p>Metodos de pago</p>
        <img src="/assets/img/mediosDePago.png" alt="Medios de Pago" />

        <br />
      </section>
      <div class="copyright">
        <br />
        <p>©2021 - Mexicangeek</p>
      </div>
    </footer>

    <!-- Compiled and minified JavaScript -->
  </body>
</html>
