<!DOCTYPE html>
<html lang="es">
  <!-- head -->
  <%- include('../partials/head', {title:'Inicio'}) %>
  <body>
    <!-- /Header -->
    <%- include('../partials/header') %>

    <h2 class="subtitle-margin">Crear producto</h2>
    <section>
      <% if(locals.errors) {%> <% for (const error of errors){ %>
      <p class="ml-5 mb-3 error--text"><%-error.msg%></p>
      <%}}%>
      <form
        action="/products/create"
        method="POST"
        enctype="multipart/form-data"
        id="product__form"
      >
        <div>
          <label for="productStatus">Disponible</label>
          <input
            type="checkbox"
            name="status"
            id="productStatus"
            checked="checked"
            class="productAvailable"
          />
        </div>

        <!-- Nombre -->
        <div>
          <label for="productName"> Nombre del producto</label>
          <input
            type="text"
            name="name"
            id="productName"
            required
            minlength="5"
            class="input is-info"
          />
        </div>

        <!-- Editoriales -->
        <div>
          <label for="productEditorial">Editorial</label>
          <select name="editorial" id="productEditorial" class="input is-info">
            <option value="1" name="dc">Marvel Comics</option>
            <option value="2" name="marvel">DC Comics</option>
            <option value="3" name="image">Image Comics</option>
          </select>
        </div>

        <!-- Escritores -->
        <div>
          <label for="productWriter">Escrito por</label>
          <select name="writer" id="productWriter" class="input is-info">
            <option value="1" name="Alan Moore">Alan Moore</option>
            <option value="2" name="Frank Miller">Frank Miller</option>
            <option value="3" name="Neil Gaiman">Neil Gaiman</option>
            <option value="4" name="Peter David">Peter David</option>
            <option value="5" name="Robert Kirkman">Robert Kirkman</option>
            <option value="6" name="Mark Waid">Mark Waid</option>
            <option value="7" name="Jim Lee">Jim Lee</option>
          </select>
        </div>

        <!-- Precio -->
        <div>
          <label for="productPrice">Precio</label>
          <input
            type="number"
            name="price"
            id="productPrice"
            class="input is-info"
          />
        </div>

        <!-- Descuento -->
        <div>
          <label for="productDiscount">Descuento</label>
          <input
            type="number"
            name="discount"
            id="productDiscount"
            class="input is-info"
          />
        </div>

        <!-- Fecha de publicacion -->
        <div>
          <label for="productPublish">Fecha publicada</label>
          <input
            type="date"
            name="datePublished"
            id="productPublish"
            class="input is-info"
            value="2018-01-01"
            min="2010-01-01"
            max="2021-12-31"
          />
        </div>

        <!-- cover -->
        <div class="register--input">
          <label class="text-md" for="cover"> Foto del producto </label>
          <input class="ml-6" name="cover" type="file" id="cover" />
        </div>

        <!-- Descripcion -->
        <div>
          <label for="productDescription">Descripción</label>
          <br />
          <textarea
            name="description"
            id="productDescription"
            cols="30"
            rows="10"
            minlength="20"
            class="productDescription"
          ></textarea>
        </div>
        <div class="" style="display: flex; justify-content: center">
          <button type="submit" class="btn-addcart">Añadir producto</button>
        </div>
      </form>
    </section>

    <%- include('../partials/footer')%>
    <script src="/assets/js/products.js"></script>
  </body>
</html>
