@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css";
@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5% !important; }

body {
  font-family: "Montserrat", sans-serif !important;
  color: #000;
  font-weight: 300 !important;
  line-height: 1.6; }

main {
  background-color: #ffe556; }

.color-second {
  color: #ffe556; }

body h1 {
  color: #00bcf0;
  font-size: 5rem; }

body h2 {
  color: #000;
  font-size: 3.2rem;
  margin-bottom: 2rem; }

#head {
  background-color: #00bcf0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem 0px;
  position: relative; }
  #head .logo {
    display: flex;
    justify-content: center;
    width: 100%; }
    #head .logo > img {
      object-fit: cover;
      width: 100%;
      max-width: 250px;
      height: 45px; }
  #head .login {
    display: flex;
    justify-content: flex-end;
    gap: 0px 6rem;
    font-size: 2.5rem;
    width: 50%; }
    #head .login > a:hover {
      color: #000; }
  #head .sans-face {
    position: absolute;
    top: 24px;
    left: 26px;
    width: 85px; }

#main-content {
  display: grid;
  grid-template-columns: auto;
  margin: 0px 3rem; }
  #main-content section.slider .container {
    display: grid; }
    #main-content section.slider .container .carousel {
      overflow: hidden;
      box-sizing: border-box; }
  #main-content section.novedades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(222px, 260px));
    gap: 2rem;
    justify-content: center; }
    #main-content section.novedades .card .issue-margin {
      margin: 0px 17%; }
