<!DOCTYPE html>
<html lang="es">
  <!-- head -->
  <%- include('./partials/head', {title:'Inicio'}) %>
  <body>
    <!-- /Header -->
    <%- include('./partials/header') %>
    <section class="user__profile">
      <h1>Error 404</h1>
      <div>
        <img
          src="https://i1.wp.com/ssbmtextures.com/wp-content/uploads/2021/05/hqdefault-d4df8aa4.png?fit=458%2C255&ssl=1"
          alt="omni-not found"
        />
        <div>
          <h2 class="pl-5">
            Este no es la ruta que buscamos <br />
            Piensa Mark! Piensa!
          </h2>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <%- include('./partials/footer')%>
  </body>
</html>
