<!DOCTYPE html>
<html lang="es">
  <!-- head -->
  <%- include('partials/head', {title:'Inicio'}) %>
  <body>
    <!-- /Header -->
    <%- include('partials/header') %>

    <section id="registro" class="fill-secondary">
      <div class="">
        <h2>Registrate</h2>
        <form action="" class="formulario_contacto">
          <input
            class="register--input"
            type="text"
            required
            placeholder="Nombre de usuario"
          />
          <input
            class="register--input"
            type="email"
            required
            placeholder="Correo electrónico"
          />
          <input
            class="register--input"
            type="password"
            required
            placeholder="Contraseña"
          />
          <input
            class="register--input"
            type="password"
            required
            placeholder="Repetir contraseña"
          />

          <h3>Datos del usuario</h3>
          <input class="register--input" type="date" required />
          <input
            class="register--input"
            type="text"
            required
            placeholder="País"
          />
          <input
            class="register--input"
            type="text"
            required
            placeholder="Ciudad"
          />
          <input
            class="register--input"
            type="text"
            required
            placeholder="Dirección"
          />
          <input
            class="register--input"
            type="text"
            placeholder="Código postal"
          />
          <button class="fill-primary">Registrar</button>
        </form>
      </div>
    </section>

    <%- include('partials/footer')%>
  </body>
</html>
