<footer id="pieDePagina">
  <section class="enlaces">
    <ul type="none">
      <li><a href="#">Términos y Condiciones</a></li>
      <li><a href="#">Políticas de Envio</a></li>
      <li><a href="#">Preguntas Frecuentes</a></li>
      <li><a href="#">Sobre Nosotros</a></li>
    </ul>
  </section>
  <section class="metodosDePago">
    <br />
    <p>Metodos de pago</p>
    <img src="/assets/img/mediosDePago.png" alt="Medios de Pago" />

    <br />
  </section>
  <div class="copyright">
    <br />
    <p>©2021 - Mexicangeek</p>
  </div>

  <script src="/assets/js/navbar.js"></script>
</footer>
