<header id="head">
  <a href="/" class="logo">
    <img src="/assets/img/mexicangeek2.png" alt="" />
  </a>
  <form action="/search" method="GET" class="busqueda">
    <input type="search" name="keywords" class="busqueda" />
  </form>
  <div class="login">
    <a href="/card" class="color-second">
      <i class="fas fa-shopping-cart"></i>
    </a>
    <% if (locals.isLogged){ %>
    <a href="/users/logout" class="color-second">
      <i class="fas fa-sign-out-alt"></i>
    </a>
    <%} else {%>
    <a href="/users/login" class="color-second">
      <i class="fas fa-sign-in-alt"></i>
    </a>
    <%}%>
  </div>
  <img src="/assets/img/quetzi2.png" class="sans-face" alt="" />
</header>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasic"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-start">
      <a href="/products" class="navbar-item"> Todos </a>

      <a href="/search?keywords=DC" class="navbar-item"> DC Comics </a>
      <a href="/search?keywords=Marvel" class="navbar-item"> Marvel Comics </a>
      <a href="/search?keywords=Image" class="navbar-item"> Image Comics </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Más </a>

        <div class="navbar-dropdown">
          <a href="/collectibles" class="navbar-item"> Coleccionables </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/card" class="button is-primary">
            <strong>Carrito</strong>
          </a>
          <% if (locals.isLogged){ %>
          <a href="/users/register" class="button is-light">
            hola <%-locals.userLogged.name%>
          </a>
          <%} else {%>
          <a href="/users/register" class="button is-light"> Regístrate </a>
          <%}%>
        </div>
      </div>
    </div>
  </div>
</nav>
