//COLORS invincible
// amarillo #ffe556
// azul #00bcf0 dark #0083d5
// gris #303539 light #e1ebed

// COLORS SANS
// blue #4782c9
// purple #c8c2e2
// gray #393852

$color-primary: #4782c9;
$color-primary-dark: #78b0c5;
$color-secondary: #fff;
// $color-secondary-dark: #393852

$color-gray: #303539;
$color-gray-light: #e1ebed;

//FONT
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

//BREAKPOINTS
$tablet: 750px;
$desktop: 1200px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5% !important; //10px/16px = 62.5% -> 1rem
}

body {
  font-family: $font-primary;
  color: $color-gray;
  font-weight: 300 !important;
  line-height: 1.6;
}

.color-second {
  color: $color-secondary;
}
