#head {
  background-color: $color-primary;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem 0px;
  position: relative;
  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    > img {
      object-fit: cover;
      width: 100%;
      max-width: 250px;
      height: 45px;
    }
  }
  .busqueda {
  }
  .login {
    display: flex;
    justify-content: flex-end;
    gap: 0px 6rem;
    font-size: 2.5rem;
    width: 50%;
    > a:hover {
      color: $color-gray;
    }
  }
  .sans-face {
    display: none;
    @media (min-width: $tablet) {
      display: block;
      position: absolute;
      top: 24px;
      left: 26px;
      width: 85px;
    }
  }
}
// Bulma navbar
.navbar {
  height: 5rem;
}
