#main-content {
  display: grid;
  grid-template-columns: auto;
  margin: 0px 3rem;

  section.slider {
    .container {
      display: grid;
      .carousel {
        margin-top: 20px;
        overflow: hidden;
        box-sizing: border-box;
      }
    }
  }
  section.novedades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(222px, 260px));
    gap: 2rem;
    justify-content: center;

    .card {
      .issue-margin {
        margin: 0px 17%;
      }
    }
  }
}
