// html {
//   font-family: "Montserrat", sans-serif;
// }
body {
  h1 {
    color: $color-primary;
    font-size: 5rem;
  }

  h2 {
    color: $color-gray;
    font-size: 2.8rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  .btn-addcart {
    background-color: $color-primary;
    border-radius: 5px;
    font-size: 1.8rem;
    padding: 1rem;
    @media (min-width: $tablet) {
      width: 345px;
    }
  }
  .subtitle-margin {
    margin-left: 8%;
  }
}
